:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --acent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  text-decoration-color: var(--main-text-color);
  background-color: white;
  list-style: none;
}
p {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: block;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
  display: block;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ХЕДЕР */

.header {
  border: 1px solid #ececec;
}
.logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-text-color);
  margin-right: 85px;
}

.logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: var(--acent-color);
}

.header-items {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-items a {
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation-items .contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header a {
  color: var(--main-text-color);
}

.header a:hover,
.header a:focus,
.footer a:hover,
.footer a:focus {
  color: var(--acent-color);
}

.header .list .contacts a {
  color: var(--secondary-text-color);
}
.header .list .contacts a:hover {
  color: var(--acent-color);
}

.icon-header {
  fill: var(--secondary-text-color);
  display: inline-block;
  align-items: center;
  padding-right: 10px;
}
.icon-header:hover,
.icon-header:focus {
  fill: var(--acent-color);
}
.navigation {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
}

.header-navigation .header-items:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts:not(:last-child) {
  margin-right: 30px;
}

/* ГЕРОИ */
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  /* padding-top: 200px; */
  margin-bottom: 30px;
}
.btn {
  background-color: var(--acent-color);
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 0px;
}

.heroes {
  max-width: 1600px;
  height: 600px;
  margin-bottom: 94px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/heroes/Header.jpg);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Чем мы занимаемся */

.title-of-section {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 94px;
  margin-bottom: 50px;
}

.advantages {
  display: flex;
}

.advantages li::before {
  content: "";
  display: inline-block;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
}

.antena::before {
  background-image: url(../images/icons/icon-antena.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.clock::before {
  background-image: url(../images/icons/icon-clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.computer::before {
  background-image: url(../images/icons/icon-computer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.astronaut::before {
  background-image: url(../images/icons/icon-astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.advantages li:not(:last-child) {
  margin-right: 30px;
}
.advantages li {
  width: 270px;
}
.advantages-ikon {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
}
.what-we-do {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.we-do-items {
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
}

.we-do-container {
  display: flex;
  margin-bottom: 94px;
}

.we-do-container li:not(:last-child) {
  margin-right: 30px;
}

/* Команда */

.teamattes-item {
  display: flex;
  background: #ffffff;
}
.teamattes-item > li {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  width: calc((100%-90px) / 4);
}

.teamattes-item > li:not(:last-child) {
  margin-right: 30px;
}

.teammates {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.teammates-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
.teamattes-social-links {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 24px;
  justify-content: space-around;
}

.social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link-svg {
  width: 20px;
  height: 20px;
}
.social-icon:hover,
.social-icon:focus {
  fill: white;
  background-color: var(--acent-color);
}
/* Постоянные клиенты */

.clients-items {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 94px;
}

.clients-items > li {
  /* border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px; */
}

.clients-logo {
  fill: var(--secondary-text-color);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-logo:focus,
.clients-logo:hover {
  fill: var(--acent-color);
}

.clients-items > li:hover,
.clients-items > li:focus {
  border-color: var(--acent-color);
}

/* ФУТТЕР */
.footer {
  background-color: #2f303a;
}
.footer-container {
  display: flex;
}

.logo-footer {
  margin-top: 60px;
  margin-right: 147px;
  margin-bottom: 20px;
}

.adress-list li:not(:last-child) {
  margin-bottom: 9px;
}
.adress-list li:last-child {
  margin-bottom: 60px;
}
.logo-web-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--acent-color);
}

.logo-studio-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress-on-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}
.email-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 72px;
  margin-bottom: 20px;
}

.social-links-footer {
  display: flex;
}

.footer-instagram {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../images/socialnetworks-icons-footer/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-instagram:hover,
.footer-instagram:focus {
  background-color: var(--acent-color);
}

.footer-twitter {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../images/socialnetworks-icons-footer/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-twitter:hover,
.footer-twitter:focus {
  background-color: var(--acent-color);
}
.footer-facebook {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../images/socialnetworks-icons-footer/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-facebook:hover,
.footer-facebook:focus {
  background-color: var(--acent-color);
}
.footer-linkedin {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../images/socialnetworks-icons-footer/linkedin.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.footer-linkedin:hover,
.footer-linkedin:focus {
  background-color: var(--acent-color);
}

.subscribe-section {
  margin-left: auto;
}
.subscribe-imput {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  margin-right: 12px;
  color: #ffffff;
  font-weight: 400;
  font-size: medium;
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: white;
  background-color: var(--acent-color);
  border-radius: 4px;
  border: 0px;
}
.subscribe-btn::after {
  background-image: url(../images/socialnetworks-icons-footer/icon-send.svg);
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 10px;
  background-position: bottom;
}

/* ПОРТФОЛИО */
.btn-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  width: 145px;
  height: 38px;
}

.portolio-buttons {
  display: flex;
  margin-top: 93px;
  justify-content: center;
  margin-bottom: 50px;
}
.portolio-buttons li:not(:last-child) {
  margin-right: 30px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}
.portfolio-items:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-items:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.portfolio-items {
  /* border: 1px solid #eeeeee;
  width: 368; */
  /* width: calc((100%-60px) / 3); */
  width: 370px;
}
.portfolio-items:hover,
.portfolio-items:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.logo-web-portfolio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--acent-color);
}
.logo-studio-portfolio {
  font-family: Raleway;
  font-weight: 700;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.btn-portfolio:focus,
.btn-portfolio:hover {
  color: white;
  background-color: var(--acent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio-sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  margin-left: 24px;
}
.portfolio-text {
  display: flex;
  position: absolute;
  color: white;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-left: 24px;
}

.portfolio-items-text {
  position: relative;
  width: 100%;
}
